.moduleDigitalSales {
  width: 100%;
  /* height: 515px; */
  background: #370087 url('/src/components/backgrounds/background_gsp_01.svg');
  background-size: cover;
}

.container {
  position: relative;
  margin-top: 16px;
  padding-left: 25px;
}

@media screen and (max-width: 767px) {
  .container {
    padding: 97px 20px 48px 25px;
  }
}
