.moduleDigitalSales {
  width: 100%;
  /* height: 515px; */
  background: #370087 url('/public/images/background_gsp_01\ 1.svg');
  background-size: cover;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;

  position: relative;
  /* width: 998px;
  height: 307px;
  left: 221px;
  top: 104px; */
}

.container {
  position: relative;
  margin-top: 16px;
  padding-left: 25px;
  padding-bottom: 104px;
  padding-top: 104px;
}

.column1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;

  width: 400px;
  height: 288px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.column2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;

  width: 400px;
  height: 307px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.h2 {
  font-family: 'Stolzl';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 32px;

  /* or 117% */
  letter-spacing: 0.01em;

  /* BLANCO */
  color: #ffffff;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.p {
  font-family: 'Stolzl';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;

  /* or 162% */
  letter-spacing: 0.02em;

  /* BLANCO */
  color: #ffffff;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;

  margin-bottom: 40px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.li {
  height: 28px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.ctaRow {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  padding: 0px;

  height: 22px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.ctaButton {
  font: normal 400 14px/22px 'Stolzl' !important;
  text-align: right;
  letter-spacing: 0.01em;
  color: #ffffff !important;
  flex: none;
  flex-grow: 0;
  text-transform: none !important;
  min-width: auto;
}

.ctaIcon {
  font-size: 20px !important;
}

@media screen and (max-width: 767px) {
  .container {
    padding: 97px 20px 48px 25px;
  }

  .ctaRow {
    gap: inherit;
  }

  .h2 {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 24px;
  }

  .p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 40px;
  }
}
