.formComponent {
  padding: 0px;

  position: absolute;
  width: 274px;
  /* left: calc(50% - 274px / 2 + 551px); */
  right: 32px;
  bottom: 32px;
}

.container {
  width: 274px;
  height: 58px;
  border-radius: 29.5px;
  background: #6c30eb;
  display: flex;
  justify-content: center;
}

.buttonContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  margin: auto;

  width: 226px;
  height: 24px;
  left: 28px;
  top: 17px;
}

.buttonText {
  font-family: 'Stolzl';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  letter-spacing: 0.02em;
  margin-bottom: 0px;

  color: #ffffff;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 1;
}

.buttonIcon {
  flex: none;
  order: 1;
  flex-grow: 0;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .formComponent {
    display: none;
  }
}
