.simpleAndAgile {
  background-image: url('/src/components/backgrounds/shutterstock_52496590.png');
}

.imgCol {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

@media screen and (max-width: 767px) {
  .container {
    padding: 64px 20px 48px 25px;
  }
}
