.buttonContent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0px;
  padding-top: 12px;
  gap: 8px;
  cursor: pointer;
}

.buttonText {
  font-family: 'Stolzl';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #1f0742;
  padding-top: 4px;
}

.imgCol {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.rsis-container button {
  background: #6c30eb !important;
  border: none !important;
  box-shadow: none !important;
}

@media screen and (max-width: 767px) {
  .container {
    padding: 64px 20px 48px 25px;
  }
}
