.barComponent {
  background: #f5f3ff !important;
  padding: 23px 120px 25px 120px;
  display: flex;
  flex-direction: row !important;
  box-shadow: none !important;
}

.headerSpace {
  width: 106px;
}

.headerLogoImage {
  float: left;
  width: 167px;
  height: 42px;
}
