.letUsTalkComponent {
  background-image: url('/src/components/backgrounds/shutterstock_524965909.png');
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 24px;
}
