.MDWrapperComponent {
  width: 100%;
}

.container {
  position: relative;
  padding-left: 25px;
}

.containerForm {
  position: relative;
  padding-left: 25px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;

  position: relative;
}

@media screen and (min-width: 992px) {
  .containerForm {
    padding-left: 120px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    padding-right: 20px;
  }
}
