.modulePartner {
  margin-left: 0%;
  margin-right: 0%;
  padding-top: 16px;
  background: #f5f3ff;
  width: 100%;
}

.container {
  /* display: block; */
  position: relative;
  /* height: 613px;
  margin-left: 221px;
  margin-right: 120px; */
  margin-top: 16px;
}

.arrowScroll {
  position: absolute;
  left: 0;
  bottom: 32px;
  transform: rotate(90deg);
}
