.p {
  font-family: 'Stolzl';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.02em;
  color: #ffffff;

  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .p {
    margin-bottom: 28px;
  }
}
